.card {
    width: 220px;
    height:380px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif !important;
    color:#DDDDDD;
    float:left;
    margin-left:35px;
}
.card h2, .card h3 {
    font-family: 'Roboto', sans-serif !important;
    
}
.header {
    text-align:center;
    text-transform: uppercase;
    color:#94A9B6;
}
.subheader {
    text-align: center;
    color: #DDDDDD;
    bottom: 20px;
    position: relative;
}
.charmander {
    background: url(charmander.png) no-repeat center;
}
.bulbasaur {
    background: url(bulbasaur.png) no-repeat center;
}
.squirtle {
    background: url(squirtle.png) no-repeat center;
}
