body {
    background-color:#CCC9DC !important;
    font-family: 'Roboto', sans-serif !important;
}


.card p {
    font-family: 'Roboto', sans-serif !important;
}


#app h1 {
    text-align:center;
    text-transform: uppercase;
    color:#94A9B6;
}
.subheader {
    text-align: center;
    color: #DDDDDD;
    bottom: 20px;
    position: relative;
}

/*LOT CSS*/

.lot {
    width: 85%;
    -webkit-box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
    border: 1px solid #0C1821;
    font-family: 'Roboto', sans-serif !important;

    margin:auto;
    margin-bottom:7px;
}

.lot-name {
    font-size:1.7em;
    margin:auto;
    margin-bottom:12px;
    vertical-align:top;
}
.lot-name::before {
    content:"";
}
.lot-address::before {
    content:"Address";
}
.lot-manager::before {
    content:"Lot Manager";
}
.lot-phone::before {
    content:"Phone #";
}
.lot-space-count::before {
    content:"Space Count";
}

.lot-details {
    margin:auto;
    padding:20px;
    background-color:#7B1FA2;
    height:40px;
}

.lot-details p, .space-list p {
    width:24%;
    display:inline-block;
    color:#DDDDDD;
}

.lot-details p::before {
    position: absolute;
    margin-top: -20px;
    font-size: .8em;
    color:rgba(221,221,221,0.45)
}

.lot .accordion-button {
    position: absolute;
    left: 85%;
    margin: 0;
    padding: 0;
    width: 3em;
    outline: 0;
    border: 0;
    background: none;
    text-indent: -9999%;
    margin-top: 34px;
}
.lot .accordion-button:before {
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    width: 4px;
    border-radius: .3em;
    transform-origin: 50%;
    top: 50%;
    left: 50%;
    transition: all .25s ease-in-out;
    transform: translate(75%, -50%) rotate(45deg);
    background: #FFFFFF;
}
.lot .accordion-button:after {
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    width: 4px;
    border-radius: .3em;
    transform-origin: 50%;
    top: 50%;
    left: 50%;
    transition: all .25s ease-in-out;
    transform: translate(-75%, -50%) rotate(-45deg);
    background: #FFFFFF;
}
.lot.open .accordion-button:before {
    transform: translate(75%, -50%) rotate(-45deg);
}
.lot.open .accordion-button:after {
    transform: translate(-75%, -50%) rotate(45deg);
}


.space-list {
    background-color:rgb(250, 250, 250);
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .4s;
    -moz-transition: max-height .4s;
    -ms-transition: max-height .4s;
    -o-transition: max-height .4s;
    transition: max-height .4s;
}

.lot.open .space-list {
    max-height: 3000px;
}
.space {
    padding:20px 20px 20px 20px;
    border-bottom:1px solid #BDBDBD;
    height:40px;
}
.space p {
    color:#212121 !important;
}
.space p::before {
    position: absolute;
    margin-top: -20px;
    font-size: .8em;
    color:rgba(33,33,33,0.45)
}
.space button {
    width:40px;
    height:40px;
    background:url(parking.png) no-repeat;
    background-size:40px !important;
    cursor:pointer;
    border:none;
    display:inline-block;
    position:absolute !important;
    left:85%;
}
.space-number::before {
    content:"Space #";
}
.space-occupied::before {
    content:"Occupied";
}
.space-ticket-number input {
    font-size: 1.2em;
    width: 120px;
    font-family: 'Roboto', sans-serif !important;
}
.space-ticket-number::before {
    content:"Ticket #";
}
.space-occupied-true {
    background-color:#FFCDD2 !important;
}
.space-occupied-true button {
    background:url(noparking.png) no-repeat;
}
